<!DOCTYPE html>
<html lang = "EN">
<head>
	<meta charset = "UTF-8">
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/style.css">
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/guest.css">
	<script type = "text/javascript" src = "../template/default/javascript/script.js"></script>
</head>
<body>
	<div class = "wrapper">
		<div class = "border">

			<div class = "wrap_verified_position">
				<div class = "wrap_verified_block_content page_block">
					<div class = "title_surprize">Поздравляем вы усппешно зарегистрированны</div>

					<div class = "wrap_button_header">
						<button onclick = "header('/news')" class = "button_header button_active_on">Перейти на свою страницу</button>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>