<!DOCTYPE html>
<html lang = "EN">
<head>
	<meta charset = "UTF-8">
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/style.css">
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/guest.css">
	<script type = "text/javascript" src = "../template/default/javascript/script.js"></script>
</head>
<body>

	<div class = "wrap_content_film_found">

		<div class = "wrap_cinema_content_play">
			<video class = "video_film" src = "../video/iron_men_triler.mp4"></video>
		</div>

		<div class = "wrap_sitebar_cinema page_block">
			<div class = "wrap_name_cinema page_block">
				<div class = "name_cinema">Железный человек</div>
			</div>
			
			<div class = "wrap_sitebar_images">
				<img class = "images_cinema_mini" src = "../img/ironmen.jpg">
			</div>

			<div class = "wrap_sitebar_text">
				<div class = "wrap_info_cinema">
					<div class = "info_text_cinema_found">Рейтинг: </div> <div class = "info_cinema">12+</div>
				</div>
				<div class = "wrap_info_cinema">
					<div class = "info_text_cinema_found">Дата выхода: </div> <div class = "info_cinema">2008</div>
				</div>
				<div class = "wrap_info_cinema">
					<div class = "info_text_cinema_found">Длительность: </div> <div class = "info_cinema">2:00:57</div>
				</div>
				<div class = "wrap_info_cinema">
					<div class = "info_text_cinema_found">Язык: </div> <div class = "info_cinema">Русский</div>
				</div>
			</div>

		</div>

		<div class = "wrap_content_cinema">
			<div class = "name_cinema_all">Железный человек</div>

			<div class = "wrap_assessment_cinema">

				<div class = "wrap_block_cinema">
					<img class = "icon_assessment" src = "../img/like.png">
					<div class = "number_assessment_cinema">0</div>
				</div>

				<div class = "wrap_block_cinema">
					<img class = "icon_assessment" src = "../img/dislike.png">
					<div class = "number_assessment_cinema">0</div>
				</div>

			</div>

			<div class = "wrap_content_border"></div>

				<div class = "wrap_owner_cinema">
					<div class = "wrap_owner_icon_block">
						<img class = "owner_icon" src = "../img/minicon.jpg">
					</div>

					<div class = "wrap_owner_name_date_block">
						<div class = "owner_name">Tigryulya.com</div>
						<div class = "owner_date_name">Опубликовано: </div> <div class = "owner_result">22 окнября 2002 г</div>
					</div>
				</div>

				<div class = "text_inform_cinema_content">Переживите незабываемые приключения вместе с героем Роберта Дауни мл. в невероятном фантастическом фильме «Железный человек»! Богатого изобретателя, гениального промышленника Тони Старка захватывают на вражеской территории, но он создает высокотехнологичную киберброню, которая позволяет ему бежать. Теперь на нем лежит миссия по спасению мира -- героями не рождаются, ими становятся. (Оригинальное название фильма - Iron Man) - 2008 MARVEL</div>

			<div class = "wrap_info_content">

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Владелец контента</div> <div class = "inform_cinema_content">disney_russia</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Рейтинг партнера</div> <div class = "inform_cinema_content">12+</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Дата выхода</div> <div class = "inform_cinema_content">2008</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Длительность</div> <div class = "inform_cinema_content">2:00:57</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Язык</div> <div class = "inform_cinema_content">Русский</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">В ролях</div> <div class = "inform_cinema_content">Роберт Дауни мл. Гвинет Пэлтроу Терренс Ховард Джефф Бриджес Лесли Бибб Шон Тоуб Фаран Таир Кларк Грегг Пол Беттани Джон Фавро</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Режиссер</div> <div class = "inform_cinema_content">Джон Фавро</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Продюсеры</div> <div class = "inform_cinema_content">Ави Арад Кевин Файги Мэтт Холлоуэй</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Сценарий</div> <div class = "inform_cinema_content">Марк Фергус Хоук Остби Артур Маркам</div>
				</div>

				<div class = "wrap_info_wrapper">
					<div class = "wrap_inform_cinema_content">Категория</div> <div class = "inform_cinema_content">Приключения и боевики</div>
				</div>


			</div>

			<div class = "content_margin_bottom"></div>
		</div>

	</div>


</body>
</html>