<!DOCTYPE html>
<html lang = "EN">
<head>
	<meta charset = "UTF-8">
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/style.css">
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/guest.css">
	<script type = "text/javascript" src = "../template/default/javascript/script.js"></script>
</head>
<body>

	<div  id = "cinema" class = "wrap_content_film_all"></div>
	<!-- <button onclick = "update('cinema.php', 'cinema')">Обновить</button> -->

<script type="text/javascript">

update('cinema.php', 'cinema');

</script>

</body>
</html>