<!DOCTYPE html>
<html lang = "EN">
<head>
	<meta charset = "UTF-8">
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "../template/default/css/style.css">
</head>
<body>
	<div class = "wrapper">
		<div class = "border">

			<div id = "closes" style = "display: none;" class = "closes notify">
				<div alt = "ПР" id = "closes" class = "closes close" onClick = "close_message()">&times;</div>
				<div class = "title_alert">Оповещение</div>
				<div class = "text_alert" id = "test"></div>
			</div>

		</div>
	</div>
</body>
</html>