.tophead {
    width: 100%;
    height: 42px;
    position: fixed;
    z-index: 120;
    top: 0;
}
.tophead .back {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    height: 42px;
    background: #FF9800;
    box-sizing: border-box;
    border-bottom: 1px solid #4872a3;
}

.wrap_header_button_menu {
    cursor: pointer;
    position: relative;
    float: right;
    min-width: 110px;
    max-width: 200px;
    height: 41px;
    margin-right: 10%;
}
.wrap_header_button_menu:hover {
    background: #e28700;
}
.header_button_menu_name {
    float: left;
    font-size: 12.5px;
    padding: 0 0 0 5px;
    line-height: 41px;
    font-weight: 700;
    color: #fff;
}
.header_button_menu_wrap_icon {
    padding: 5px 10px 0 0;
}
.header_button_menu_icon {
    float: right;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.wrap_header_menu {
    padding: 5px 3px;
    display: none;
    position: fixed;
    top: 57px;
    float: right;
    right: 10%;
    width: 170px;
    background: #fff;
    border-radius: 4px;
}
.wrap_header_menu_link {
    float: left;
    left: 100px;
}
.menu_name_link {
    cursor: pointer;
    padding: 7px 11px;
    font-size: 12.5px;
    color: #607D8B;
    font-weight: 600;
}
.menu_name_link:hover {
    background: #e4e4e4;
}



.sitebar {
    position: absolute;
    left: 100px;
    width: 30px;
    height: 41px;
    float: left;
}
.sitebar:hover {
    background: #e28700;
}
.sitebar svg {
    margin: 5px 0;
}
.hr {
    margin: 3px 10px;
    border-top: 1px solid #dbe4ec;
}